In [1]:
import pandas as pd

# DataFrame aus Listen erstellen
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Alter": [20, 22, 19],
    "Punkte": [85, 90, 78]
}

df = pd.DataFrame(data)
print(df)

      Name  Alter  Punkte
0    Alice     20      85
1      Bob     22      90
2  Charlie     19      78

In [2]:


data = { "Name": ["Anna", "Ben", "Paul", "Peter"], 
        "Alter": [19,20,21,22], "Punkte": [1,2,3,4]}
dt = pd.DataFrame(data)
print(dt)

    Name  Alter  Punkte
0   Anna     19       1
1    Ben     20       2
2   Paul     21       3
3  Peter     22       4

In [ ]:
df_csv = pd.read_csv("students.csv")
print(df_csv)
df.head()      # zeigt erste 5 Zeilen
df_csv.info()      # Datentypen, Anzahl nicht-null
df_csv.describe()  # Statistik nur für Zahlen-Spalten
df_csv.dtypes      # gibt die Typen jeweils an
df_csv["Punkte"].mean()
df_csv["Punkte"].max()
df_csv[df_csv["Punkte"] > 85]'''

      Name  Alter  Punkte
0    Alice     20      85
1      Bob     22      90
2  Charlie     19      78
3    David     21      88
4      Eva     20      92

'df.head()      # zeigt erste 5 Zeilen\ndf_csv.info()      # Datentypen, Anzahl nicht-null\ndf_csv.describe()  # Statistik nur für Zahlen-Spalten\ndf_csv.dtypes      # gibt die Typen jeweils an\ndf_csv["Punkte"].mean()\ndf_csv["Punkte"].max()\ndf_csv[df_csv["Punkte"] > 85]'

In [25]:
df_csv = pd.read_csv("students.csv")
print(df_csv)
df.isnull().sum()

      Name  Alter  Punkte
0    Alice     20      85
1      Bob     22      90
2  Charlie     19      78
3    David     21      88
4      Eva     20      92

Name      0
Alter     0
Punkte    0
dtype: int64

In [ ]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df.head()
df.groupby("Pclass")["Age"].mean() # durschnittsalter pro Klasse
df.groupby("Sex")["Survived"].sum() #anzahl der überlebenden pro geschlecht
df.groupby("Pclass")["Fare"].mean() #durchschnittspreis pro Klasse
df.groupby("Survived")["Age"].mean() #durschnittsalter der überlebenden
# Alter fehlende Werte mit Mittelwert füllen
df["Age"] = df["Age"].fillna(df["Age"].mean())

# Überprüfen
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df.head()
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])#"Embarked" ist keine zahl daher mode()
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
import pandas as pd
df = pd.read_csv("students.csv")
df.head()
df[df["Punkte"] >= 85] #alle die mehr als 85 punkte haben
df[df["Alter"] <= 20]
df[(df["Punkte"] > 80) & (df["Punkte"] < 90)]
df.groupby("Alter")["Punkte"].max() #maximale punktzhal pro Alter
df["Punkte"].agg(["min", "max", "mean"]) #berechent min, max und mean von alter
df.agg({"Punkte": ["min", "max", "mean"], "Alter": ["mean"]})

      Punkte  Alter
min     78.0    NaN
max     92.0    NaN
mean    86.6   20.4

In [87]:
import pandas as pd
df = pd.read_csv("sales.csv")
print(df.head())
df["Umsatz"].sum()
df.groupby("Kategorie")["Umsatz"].mean()
df["Umsatz"].max()
df["Umsatz"].min()
max_cat = df.groupby("Kategorie")["Umsatz"].sum().idxmax()
print(f"Die Kategorie mit dem höchsten Gesamtumsatz ist: {max_cat}")

          Produkt   Kategorie  Umsatz
0          Laptop  Elektronik    1200
1      Smartphone  Elektronik     850
2          Tablet  Elektronik     600
3  Kaffeemaschine    Haushalt     230
4     Staubsauger    Haushalt     310
Die Kategorie mit dem höchsten Gesamtumsatz ist: Elektronik