In [2]:
import pandas as pd

# Create a DataFrame from lists
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [20, 22, 19],
    "Points": [85, 90, 78]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Points
0    Alice   20      85
1      Bob   22      90
2  Charlie   19      78

In [3]:


data = { "Name": ["Anna", "Ben", "Paul", "Peter"], 
        "Age": [19,20,21,22], "Points": [1,2,3,4]}
dt = pd.DataFrame(data)
print(dt)

    Name  Age  Points
0   Anna   19       1
1    Ben   20       2
2   Paul   21       3
3  Peter   22       4

In [5]:
df_csv = pd.read_csv("../data/students.csv")

print(df_csv)

df_csv.head()        # shows the first 5 rows
df_csv.info()        # data types, number of non-null entries
df_csv.describe()    # statistics only for numeric columns
df_csv.dtypes        # shows the data types of each column
df_csv["Points"].mean()
df_csv["Points"].max()
df_csv[df_csv["Points"] > 85]

      Name  Age  Points
0    Alice   20      85
1      Bob   22      90
2  Charlie   19      78
3    David   21      88
4      Eva   20      92
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Points  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

    Name  Age  Points
1    Bob   22      90
3  David   21      88
4    Eva   20      92

In [6]:

print(df_csv)
df.isnull().sum()

      Name  Age  Points
0    Alice   20      85
1      Bob   22      90
2  Charlie   19      78
3    David   21      88
4      Eva   20      92

Name      0
Age       0
Points    0
dtype: int64

In [7]:
import pandas as pd

df = pd.read_csv("../data/titanic.csv")
df.head()

df.groupby("Pclass")["Age"].mean()       # average age per class
df.groupby("Sex")["Survived"].sum()      # number of survivors per gender
df.groupby("Pclass")["Fare"].mean()      # average fare per class
df.groupby("Survived")["Age"].mean()     # average age of survivors

# Fill missing age values with the mean
df["Age"] = df["Age"].fillna(df["Age"].mean())

# Check missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
import pandas as pd

df.head()

# "Embarked" is not a numeric column, so we fill missing values with the mode
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [11]:
import pandas as pd
df.head()
df = pd.read_csv("../data/students.csv")

df[df["Points"] >= 85]     # all students who have more than 85 points
df[df["Age"] <= 20]
df[(df["Points"] > 80) & (df["Points"] < 90)]

df.groupby("Age")["Points"].max()                 # maximum points for each age
df["Points"].agg(["min", "max", "mean"])          # calculates min, max and mean of points
df.agg({"Points": ["min", "max", "mean"], "Age": ["mean"]})

      Points   Age
min     78.0   NaN
max     92.0   NaN
mean    86.6  20.4

In [12]:
import pandas as pd

df = pd.read_csv("../data/sales.csv")
print(df.head())

df["Revenue"].sum()
df.groupby("Category")["Revenue"].mean()
df["Revenue"].max()
df["Revenue"].min()

max_cat = df.groupby("Category")["Revenue"].sum().idxmax()
print(f"The category with the highest total revenue is: {max_cat}")

          Product     Category  Revenue
0          Laptop  Electronics     1200
1      Smartphone  Electronics      850
2          Tablet  Electronics      600
3  Coffee Machine    Household      230
4  Vacuum Cleaner    Household      310
The category with the highest total revenue is: Electronics